* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    border-color: #fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 90px;
    cursor: pointer;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__search form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-search__form input {
    height: 40px;
    width: 700px;
    border-radius: 20px;
    padding: 5px 10px;
    outline: none;
    border: 3px solid #e9e9e9;
    font-size: 18px;
}

.header-search__form button {
    padding: 5px 30px;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #e9e9e9;
}

.mi {
    margin-left: 15px;
    cursor: pointer;
}

.header-user__icons {
    font-size: 50px;
    gap: 1rem;
    margin-right: 10px;
}

.header-user__icons span {
    padding: 10px;
    border-radius: 20px;
    transition: all 0.1s;
    cursor: pointer;
}

.header-user__icons span:hover {
    background-color: #e9e9e9;
}

/* Sidebar section style */

.sidebar {
    width: 300px;
    height: 100vh;
    float: left;
}

.icons {
    margin-top: 20px;
}

.icons div {
    margin-top: 10px;
    width: 250px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.2s;
}

.icons div:hover {
    background-color: #e9e9e9;
}

.c {
    margin-top: 10px;
    color: black;
}

/* Video section style */

.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.video {
    padding: 15px;
    width: 400px;
    cursor: pointer;
}

.video__thumbnail img {
    width: 399px;
    height: 314px;
}

.video__author {
    display: flex;
    gap: 1rem;
    border-radius: 100px;
}

.video__author h3 {
    font-size: 18px;
}

.video__author img {
    border-radius: 100px;
    width: 40px;
    cursor: pointer;
}

.video__watch span {
    font-size: 14px;
    display: block;
    margin-left: 55px;
}

.hh {
    margin-left: 20px;
    font-size: 20px;
    align-items: center;
    padding: 1rem 0;
}

.sub {
    font-size: 17px;
    padding: 1rem;
    cursor: pointer;
}

.imgg {
    border-radius: 10rem;
    width: 35px;
}

.abd h1 {

    font-size: 20px;
    margin-left: 1rem;
}

.nav {
    font-size: 20px;
    padding: 1rem;
    cursor: pointer;
}

.end {
    font-size: 17px;
    margin-left: 1rem;
}


.sp {
    margin: 1rem;
}

.aa {
    color: black;
    font-size: 17px;
    align-items: center;
}

.sh{
    color: black;
    font-size: 17px;
}

.my{
    color: black;
    font-size: 17px;
    align-items: center;
}

.akk{
    display: flex;
    align-items: center;

}

.akk img{
    border-radius: 50%;
    margin: 20px;
    margin-left: 50px;
}

.akk p{
    flex-direction: column;
}