* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    border-color: #fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 90px;
    cursor: pointer;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__search form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-search__form input {
    height: 40px;
    width: 700px;
    border-radius: 20px;
    padding: 5px 10px;
    outline: none;
    border: 3px solid #e9e9e9;
    font-size: 18px;
}

.header-search__form button {
    padding: 5px 30px;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #e9e9e9;
}

.mi {
    margin-left: 15px;
    cursor: pointer;
}

.header-user__icons {
    font-size: 50px;
    gap: 1rem;
    margin-right: 10px;
}

.header-user__icons span {
    padding: 10px;
    border-radius: 20px;
    transition: all 0.1s;
    cursor: pointer;
}

.header-user__icons span:hover {
    background-color: #e9e9e9;
}

/* Sidebar section style */

.sidebar {
    width: 300px;
    height: 100vh;
    float: left;
}

.icons {
    margin-top: 20px;
}

.icons div {
    margin-top: 10px;
    width: 250px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.2s;
}

.icons div:hover {
    background-color: #e9e9e9;
}

.c {
    margin-top: 10px;
    color: black;
}

/* Video section style */

.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.video {
    padding: 15px;
    width: 400px;
    cursor: pointer;
}

.video__thumbnail img {
    width: 399px;
    height: 314px;
}

.video__author {
    display: flex;
    gap: 1rem;
    border-radius: 100px;
}

.video__author h3 {
    font-size: 18px;
}

.video__author img {
    border-radius: 100px;
    width: 40px;
    cursor: pointer;
}

.video__watch span {
    font-size: 14px;
    display: block;
    margin-left: 55px;
}

.hh {
    margin-left: 20px;
    font-size: 20px;
    align-items: center;
    padding: 1rem 0;
}

.sub {
    font-size: 17px;
    padding: 1rem;
    cursor: pointer;
}

.imgg {
    border-radius: 10rem;
    width: 35px;
}

.abd h1 {

    font-size: 20px;
    margin-left: 1rem;
}

.nav {
    font-size: 20px;
    padding: 1rem;
    cursor: pointer;
}

.end {
    font-size: 17px;
    margin-left: 1rem;
}


.sp {
    margin: 1rem;
}

.aa {
    color: black;
    font-size: 17px;
    align-items: center;
}

.sh {
    color: black;
    font-size: 17px;
}

.my {
    color: black;
    font-size: 17px;
    align-items: center;
}

.akk {
    display: flex;
    align-items: center;
    margin-left: 15%;
    width: 390px;

}

.akk img {
    border-radius: 50%;
    margin: 20px;
}


.yozuv {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}


.nas {
    width: 186px;
    height: 36px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
}


.btns {
    display: flex;
}


.his {
    color: black;
    font-size: 17px;
}

.pl {
    color: black;
    font-size: 17px;
}

.vh h1 {
    margin-left: 15rem;
    padding: 2rem 0;

}

.vh button {
    background-color: black;
    color: white;
    width: 150px;
    height: 30px;
    border-radius: 0.5rem;
    margin-left: 15rem;
}

.un {
    width: 400px;
    border-radius: 2.5rem;
    margin-left: 9rem;
    padding: 2rem 0;
}


.h11 {
    font-size: 17px;
    margin-left: 9rem;
}

.wa {
    color: black;
    font-size: 17px;
}

.wac img {
    width: 350px;
    border-radius: 20px;
    margin-left: 10rem;
    padding: 4rem 0;
}


.we {
    width: 160px;
    height: 90px;
}


.gm {
    font-size: 17px;
    color: black;
}

.gme {
    margin-left: 5rem;
}


.h2 {
    margin-left: 15rem;
    padding: 5rem 0;
}

.aaa {
    display: flex;

}

.p2 {
    margin-right: 50%;
}

.nws{
    color: black;
    font-size: 17px;
}

.wn{
    margin-left: 10rem;
    padding: 3rem 0;
}

.nw h1{
    margin-left: 10rem;
    font-size: 25px;

}

.nw{
    display: flex;
    gap: 2rem;
    font-size: 25px;
    cursor: pointer;
}

.spn{
    font-size: 25px;
    align-items: center;
}

.im{
    padding: 3rem;
}

.im img{
    padding: 2rem 0;
}

.st{
    font-size: 17px;
    color: black;
}

.hs{
    font-size: 11px;
    padding: 2rem 0;
    gap: 2rem;
    cursor: pointer;
}


.set{
    margin: 2rem 0;
}

.hv{
    margin-left: 25rem;
}

.hv h2{
padding: 2rem 0;
}

.pd{
    display: flex;
    gap: 2rem;
    margin: 2rem;
}

.sat h1{
    font-size: 17px;
}

.sat{
    display: flex;
    gap: 2rem;
}


.hv img{
    border-radius: 50%;
    margin-left: 75rem;
    font-size: 10px;
}








@media (max-width:1200px) {
    .sidebar {
        width: 70px;
        overflow: hidden;
    }
}